streamlit
openai
pandas
pdfminer.six
python-docx
python-dateutil
openpyxl
pillow
requests
pdf2image
reportlab
PyMuPDF
striprtf
httpx
pydantic
trafilatura
faiss-cpu
numpy
fastapi
uvicorn
tweepy
aiofiles
python-dotenv
